.movies-card {
  max-width: 270px;
}

.movies-card__image {
  width: 100%;
  display: block;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.movies-card__group {
  margin-top: 11px;
  padding-bottom: 22px;
  border-bottom: 1px solid #424242;
  display: flex;
  justify-content: space-between;
}

.movies-card__title {
  margin: 0;
  max-width: 126px;
  color: #fff;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 3px;
}

.movies-card__like {
  display: block;
  border: 0;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  align-self: center;
  cursor: pointer;
  background-color: inherit;
  background-image: url(../../images/save1d.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.movies-card__like_state_active {
  background-image: url(../../images/save1.svg);

}

.movies-card__like_state_dell {
  background-image: url(../../images/back__COLOR_primary-footer-dell.svg);
}

.movies-card__duration {
  margin: 0;
  margin-top: 6px;

  color: #8b8b8b;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

@media screen and (max-width: 960px) {
  .movies-card {
    max-width: 339px;
  }
}

@media screen and (max-width: 540px) {
  .movies-card {
    max-width: 300px;
    margin: 0 auto;
  }

  .movies-card__group {
    padding-bottom: 23px;
  }
}
