.portfolio {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 70px 125px;
  box-sizing: border-box;
}

.portfolio__title {
  margin: 0;
  color: #8b8b8b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.portfolio__list {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  list-style: none;
}

.portfolio__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
  padding-top: 20px;
  padding-bottom: 20px;
}

.portfolio__name {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
}

.portfolio__link {
  display: block;
  width: 30px;
  background-image: url(../../images/text__COLOR_font-main.png);
  background-position: center;
  background-repeat: no-repeat;
}

.portfolio__item:last-child {
  border: none;
}

@media screen and (max-width: 1279px) {
  .portfolio {
    max-width: 768px;
    padding: 0 50px 90px;
  }

  .portfolio__item {
    border-bottom: 1px solid #E6E6E6;
  }

  .portfolio__name {
    font-size: 28px;
    letter-spacing: -1.12px;
  }

  .portfolio__link {
    width: 27px;
    background-image: url(../../images/text__COLOR_font-main-768.png);
  }
}

@media screen and (max-width: 767px) {
  .portfolio {
    max-width: 320px;
    padding: 0 14px 70px;
  }

  .portfolio__title {
    font-size: 14px;
  }

  .portfolio__list {
    margin-top: 20px;
  }

  .portfolio__name {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }

  .portfolio__link {
    width: 18px;
    background-image: url(../../images/text__COLOR_font-main-320.png);
  }
}
