.promo {
  margin: 0 auto;
  max-width: 1280px;
  background-color: #073042;
  padding-top: 50px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.promo__title {
  margin: 0 0 0 70px;
  max-width: 625px;
  min-height: 104px;
  color: #fff;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px; /* 130% */
  letter-spacing: -1.6px;
}

.promo__illustration {
  max-width: 722px;
  margin-top: 102px;
  margin-right: 70px;
  align-self: flex-end;
}

.promo__img {
  width: 100%;
}

@media screen and (max-width: 1152px) {
  .promo {
    max-width: 990px;
  } 
 
}

@media screen and (max-width: 960px) {
  .promo {
    max-width: 768px;
    padding-top: 300px;
    padding-bottom: 70px;
    align-items: center;
  }

  .promo__title {
    margin: 0;
    text-align: center;
  }

  .promo__illustration {
    max-width: 680px;
    min-height: 230px;

    margin-top: 140px;
    margin-right: 0;
    align-self: center;
  }
}

@media screen and (max-width: 540px) {
  .promo {
    max-width: 320px;
    padding-top: 183px;
    padding-bottom: 40px;
  }

  .promo__title {
    max-width: 300px;
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -1.24px;
  }

  .promo__illustration {
    max-width: 320px;

    margin-top: 60px;
    margin-right: 0;
    align-self: center;
    object-fit: cover;
  }

  .promo__img {
    min-height: 230px;
    object-fit: cover;
  }
}
