@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/fonts.css);

.page {
  background-color: #202020;
  font-family: 'Inter', Arial, sans-serif;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center; */

}
